<html>
<head>
    <title>upload status</title>
</head>
<body>

    <textarea data-type="text/json" data-status="{{status}}" data-statusText="{{statusText}}">
        {{result}}
    </textarea>

</body>
</html>